html {
	box-sizing: border-box;
}



h3 {
	margin: 20px 0px 10px 0px;
	letter-spacing: 3px;
}

.header {
	padding: 70px 0px 0px 0px;
	color: black;
}

h1, h3, #magicNum, #yourScore, #wins, #losses, .score {
	color:#B61470;
}

h1 {
	color: black;
	margin: 55px 0px 75px 0px;
	letter-spacing: 10px;
}

.button{
	border: none;
}
.crystalimg {
    width: 125px;
    height: 125px;
	margin: 10px auto;
}

.directions {
	text-align: center;
    padding: 20px 85px;
    margin: 30px;
}

.score {
	padding-top: 30px;
	margin-bottom: 0;
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 3px;
}




.total, .scores, .directions {
	margin: auto;
}

.btn {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	color: #a182bc;
	letter-spacing: 3px;
}



